APP_NAME="ShopSmart"
APP_ENV=local
APP_DEBUG=true

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=shopsmart_db
DB_USERNAME=shopsmart_user
DB_PASSWORD="ShopSmart_2026!"
DB_CHARSET=utf8
DB_SSLMODE=prefer
DATABASE_URL=
